.container {
    display: grid;
    padding: 5rem 0rem 5rem 0rem;
    grid-template-columns: auto auto auto;
    grid-gap: 3rem;
    grid-auto-flow: row;
  }


.item {
    margin: auto;
    padding: 2rem;
    border-radius: 2%;
  }

  .photo img {
    width: 300px;
    background-color: white;
    padding: 2rem;
    border-radius: 10%;
  }

  .socials img {
    padding-right: 10px;
  }