.container {
  display: grid;
  padding: 5rem 0rem 5rem 0rem;
  grid-template-columns: auto auto auto;
  grid-gap: 3rem;
  grid-auto-flow: row;
}

.container h2 {
  text-align: left;
}

.item {
  margin: auto;
  max-width: 300px;
  padding: 2rem;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.photo {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.358);
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photo img {
  width: 90%;
  padding: 2rem;
}

.info {
  margin-top: 1rem;
  padding-left: 20px;
}

.contact {
  padding-left: 20px;
}

.contact img {
  width: 20px;
  padding-right: 10px;
}

@media screen and (max-width: 1300px) {
  .container {
    display: grid;

    grid-template-columns: auto auto;

    grid-gap: 3rem;
    grid-auto-flow: row;
  }
}

@media screen and (max-width: 57rem) {
  .container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 3rem;
    grid-auto-flow: row;
  }

  .item {
    max-width: 288px;
    border-radius: 2%;
  }

  .photo img {
    width: 80%;
    border-radius: 10%;
    display: block;
  }

  .info {
    padding-left: 20px;
  }
}
