.info-section {
  height: 100vh;
  overflow: hidden;
}

.info-section section {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -7rem;
}

.beanie {
  width: 90rem;
  position: absolute;
  top: -40rem;
  right: -45rem;

  z-index: -1;
}

.socks {
  width: 50rem;
  position: absolute;
  top: -20rem;
  right: 50vw;

  z-index: -1;
}

.suit {
  width: 50rem;
  position: absolute;
  bottom: -25rem;
  left: -10rem;

  z-index: -1;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0rem;
}

p {
  font-size: 1.2rem;
  text-align: center;
}

.socials a {
  margin: 0rem 2rem;
  cursor: pointer;
}

.socials a img {
  width: 10rem;
}
