.info-section {
  height: 100vh;
  overflow: hidden;
}

.info-section section {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  top: -7rem;
}

.beanie {
  width: 65rem;
  position: absolute;
  top: -25rem;
  right: -30rem;

  transform: rotate(-40deg);
  opacity: 80%;
  z-index: -1;
}

.socks {
  width: 50rem;
  position: absolute;
  top: -20rem;
  right: 50vw;

  opacity: 80%;
  z-index: -1;
}

.suit {
  width: 50rem;
  position: absolute;
  bottom: -25rem;
  left: -10rem;

  opacity: 80%;
  z-index: -1;
}

.info-section section h2 {
  font-size: 2rem;
  text-align: center;
  margin: 0rem;
}

.info-section section p {
  font-size: 1.2rem;
  text-align: center;
}

.info-section section .socials a {
  margin: 0rem 2rem;
  cursor: pointer;
}

.info-section section .socials a img {
  width: 10rem;
}

@media screen and (max-width: 750px) {
  .socials {
    display: flex;
    flex-direction: column;
  }
}
