header {
  height: 10vh;
  padding: 1rem;
  background: hotpink;
}

main {
  display: flex;
  width: 100%;
  height: 90vh;
  background: pink;
  justify-content: space-between;
}

.unity {
  width: 60%;
  height: 50%;

  background: white;
  border-radius: 1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  width: 16rem;
  background: pink;
}

.pink-form {
  justify-self: flex-end;
}
