main {
  display: flex;
  width: 100%;
  height: 80vh;
  background: pink;
  justify-content: space-between;
}

header {
  height: 10vh;
  padding: 1rem;
  background: hotpink;
}

.main-logo {
  width: 16rem;
  background: pink;
}

.pink-form {
  justify-self: flex-end;
}
