:root {
  --main-beige: #f0e9df;
}

@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("Otterco-Bold"),
    url("././assets/fonts/Otterco-Bold.woff") format("woff");
}

@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("Otterco-Medium"),
    url("././assets/fonts/Otterco-Medium.woff") format("woff");
}


body {
  background: var(--main-beige);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
