

header {
    height: 10vh;
    padding: 1rem;
    background: #F0E9DF;
    display: flex;
    justify-content: space-between;
  }

  .main-logo {
    height: 10vh;
    background: rgba(255, 255, 255, 0);
  }
  
  .menu{
    padding-top: 2rem;
    display: flex;
  }

  .tabs{
    padding-right: 5rem;
/*     font-family: StoneSans; */

  }