header {
  height: 10vh;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

  position: relative;
  z-index: 2;
}

.main-logo {
  height: 1rem;
  background: rgba(255, 255, 255, 0);
}

nav {
  padding-top: 1rem;
  display: flex;
}

nav a {
  margin: 0rem 2rem;
  color: #dd3830;
  text-decoration: none;
  font-family: Bold;
  font-size: 22px;
}

.tabs {
  padding-right: 3rem;
  font-family: "Bold";
  font-size: 22px;
}
